@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
/* -----------------------------------------
----------------------Mixins-----------------
-------------------------------------------- */
* {
  box-sizing: border-box;
}

body, header {
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none;
  color: currentcolor;
}

header {
  padding-top: 15px;
  width: 100%;
  background-color: white;
  height: 169px;
}

.header-top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-row {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

#header-phone {
  margin-left: auto;
}

.hidden-header-content-lg {
  display: flex;
  margin-left: auto;
}

.ham {
  border-radius: 3px;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  height: 54px;
  min-width: 60px;
  background-color: #333645;
  color: white;
  border: none;
  align-items: center;
  padding: 5px 13px;
}

.search {
  height: 40px;
  background-color: #e6e6e6;
  margin: 0 0 0 15px;
  width: 100%;
  border: none;
}

.search-inline {
  display: flex;
  margin: auto auto auto 15px;
  border: none;
}
.search-inline input {
  width: 180px;
}

.inline-search-bar {
  flex-grow: 2;
  display: flex;
  border: 1px #E0DEDE solid;
  border-radius: 0 3px 3px 0;
  background-color: white;
  margin: auto 0;
}
.inline-search-bar .btn {
  border-radius: 0 3px 3px 0;
}

.search-btn-3 {
  border-radius: 3px;
}

.search-3 {
  margin: auto 0;
}

.bottom-search-bar {
  flex-grow: 2;
  display: flex;
  border: 2px #E0DEDE solid;
  border-radius: 2px;
  background-color: #e6e6e6;
  margin: 15px;
}

.mag-button {
  background-color: #e6e6e6;
  border: none;
}

.bi {
  height: 20px;
  width: 20px;
  margin: auto 8px;
}

.nav-container {
  margin-top: 5px;
  display: none;
  background-color: #333645;
  color: white;
  height: 95px;
}

.nav-bar-grid {
  padding: 0 15px;
}

li.main-nav:last-of-type {
  border-right: #E0DEDE 1px solid;
}
li.main-nav:hover svg {
  fill: white;
}

a.main-nav {
  padding-bottom: 20px;
  padding-top: 10px;
  line-height: 1;
  height: 95px;
  border-left: #E0DEDE 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a.main-nav svg {
  height: 20px;
  width: 20px;
}
a.main-nav h5 {
  font-size: 0.7em;
  padding-bottom: 1px;
}
a.main-nav h4 {
  padding: 0px;
}

.hide-nav {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 3;
  left: 0px;
  padding: 0 15px;
}
.hide-nav ul a li {
  display: inline;
  padding: 0 15px;
}
.hide-nav ul {
  line-height: 1em;
}

.sub-nav-content {
  margin: 0 auto;
  font-size: 0.85em;
}
.sub-nav-content a:first-of-type li {
  padding-left: 0;
}

.main-nav-1:hover .hide-nav-1 {
  display: flex;
}

.main-nav-2:hover .hide-nav-2 {
  display: flex;
}

.main-nav-3:hover .hide-nav-3 {
  display: flex;
}

.main-nav-4:hover .hide-nav-4 {
  display: flex;
}

.main-nav-5:hover .hide-nav-5 {
  display: flex;
}

.main-nav-6:hover .hide-nav-6 {
  display: flex;
}

.banner-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 600px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black), url("../img/home-3wAI.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner-p {
  font-size: 1.4em;
  max-width: 470px;
  text-align: center;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.card-container {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.background-wrapper {
  background-color: #333645;
  display: flex;
  width: 100%;
}

.background-grid {
  margin: auto;
  display: flex;
}

.background-info {
  padding: 50px 0;
  color: white;
  font-size: 1.1em;
  margin: auto;
}
.background-info .btn {
  margin-left: 15px;
  color: #333645;
}

.news-header-wrapper {
  display: flex;
}

.news-header-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}

.news-header {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.news-divider {
  margin: auto 0 0 15px;
  height: 5px;
  width: 90px;
  background-color: #333645;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 15px 15px 0px #f0f0f0;
}

.news-body {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.news-summary {
  display: block;
  padding-top: 15px;
  width: 100%;
  background-color: white;
}
.news-summary > * {
  padding-left: 30px;
  margin: auto 0px;
}

.news-card {
  margin: 0 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid #E0DEDE;
  border-radius: 3px;
  box-shadow: 0px 10px 15px 0px #f0f0f0;
}

.news-tag {
  color: white;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 10px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 700;
}

.news-tooltip {
  right: -35px;
  font-weight: 400;
  text-align: center;
  padding: 10px 15px;
  text-transform: none;
  position: absolute;
  background-color: #333645;
  top: -53px;
  left: -35px;
  opacity: 0;
  transition-duration: 0.2s;
}

.tag-1:hover .tip-1 {
  opacity: 0.85;
  transition-duration: 0.2s;
}

.tag-2:hover .tip-2 {
  opacity: 0.85;
  transition-duration: 0.2s;
}

.tag-3:hover .tip-3 {
  opacity: 0.85;
  transition-duration: 0.2s;
}

.news-tag .news-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.news-tag-it {
  background: #4183d7;
}

.news-tag-design {
  background: #926fb1;
}

.tag-link:hover {
  text-decoration: underline white;
}

.news-img-container {
  position: relative;
}

.news-img-border {
  overflow: hidden;
}

.author {
  display: inline;
}

.news-details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-top: 8px;
  line-height: 0.5em;
}

.news-footer {
  padding: 40px 0;
  margin: 0 30px;
  border-top: 1px solid slategrey;
  display: flex;
  line-height: 1em;
}
.news-footer p {
  padding: 0;
}

.footer-wrapper {
  background-color: #333645;
  width: 100%;
  display: flex;
}

.main-footer {
  width: 100%;
  padding-top: 30px;
  display: flex;
  background-color: #333645;
  color: white;
  flex-direction: column;
  font-size: 0.9em;
}
.main-footer a:hover, .main-footer ul a:hover {
  border-bottom: 1px currentcolor solid;
}
.main-footer a:active {
  color: #08080a;
}

ul {
  padding: 15px;
  line-height: 1.5em;
}

.social {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.top-row, .bottom-row {
  height: 50px;
  margin-bottom: 30px;
}
.top-row img, .bottom-row img {
  height: 50px;
}
.top-row a, .bottom-row a {
  width: 45%;
  margin: auto;
  background: #262833;
}

.social div {
  display: flex;
  height: 50px;
  width: 100%;
}
.social div a:hover {
  text-decoration: none;
}

.fb img {
  height: 35px;
}

.organisations-wrapper {
  box-shadow: inset 2px 15px 15px 0px #f0f0f0;
}

.organisations {
  width: 750px;
  padding: 50px 15px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.beat, .crane, .northern-diver, .busseys {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.beat img, .crane img, .northern-diver img, .busseys img {
  width: 100%;
}

.desc {
  display: none;
  position: absolute;
  max-width: 260px;
  bottom: 120px;
  background-color: #333645;
  color: white;
  margin: auto;
  padding: 5px;
  text-align: center;
  left: -200px;
  right: -200px;
  font-size: 0.9em;
}

.beat:hover .beat-desc {
  display: inline-block;
}

.busseys:hover .busseys-desc {
  display: inline-block;
}

.crane:hover .crane-desc {
  display: inline-block;
}

.northern-diver:hover .northern-diver-desc {
  display: inline-block;
}

.beat .beat-desc::after,
.crane .crane-desc::after,
.northern-diver .northern-diver-desc::after,
.busseys .busseys-desc::after {
  content: " ";
  position: absolute;
  margin-left: -5px;
  border-width: 40px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
  left: 100px;
  bottom: -75px;
}

.desc-divider {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: auto;
}

.colour {
  display: none;
}

.accolades {
  width: 750px;
  padding: 50px 15px;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.accolades div {
  padding: 0 20px;
}

/* float clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* IE 'vertical margin: auto' fix*/
.culture-btn, .banner-btn, .header-row, .header-btn {
  display: flex;
  align-items: center;
}

/* IE button width fix */
h1, h2, h3, h4, p {
  padding: 15px;
}

h1, h2, h4, h5, .btn, .hide-nav {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}
.news-header h3 {
  padding-top: 35px;
}

h5 {
  font-size: 0.7em;
}

p {
  line-height: 1.5;
}

bold {
  font-weight: 700;
}

.logo {
  max-width: 100%;
}

input {
  color: #9c9c9c;
}

.header-row a {
  background: transparent;
  margin: auto 15px auto 0;
}
.header-row button svg {
  fill: white;
}
.header-row .btn {
  display: flex;
  margin: auto;
  height: 54px;
}

#header-phone {
  fill: #333645;
  margin: 25px 20px auto auto;
}
#header-phone:hover {
  border-bottom: 1px solid #333645;
}

.ham div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
  border-radius: 0.5px;
}
.ham h5 {
  padding-top: 5px;
}

.btn {
  border-radius: 4px;
  padding: 15px;
  color: white;
  border: none;
}

.support {
  background: #4183d7;
}
.support .btn:hover {
  background: #286abd;
}

.contact, .search-btn, .search-btn-3 {
  background: #84858f;
}
.contact .btn:hover, .search-btn .btn:hover, .search-btn-3 .btn:hover {
  background: #6b6c75;
}

.header-btn-text {
  margin: auto 0 auto 15px;
  text-align: center;
}

.hide-nav {
  color: white;
}

.banner-btn {
  box-sizing: border-box;
  display: flex;
  height: auto;
  margin-top: 15px;
  padding: 0 15px;
  font-size: 1.25em;
  background-color: #b839c9;
}
.banner-btn:hover {
  background-color: #952ca3;
}
.banner-btn-text {
  margin: auto 0;
  text-align: center;
}

.arrow-container-lg {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin: 15px 0 15px 8px;
}

.arrow-icon {
  fill: white;
}

.card {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: solid #E0DEDE 1px;
  text-align: center;
  background-color: white;
  margin: 15px 15px;
}
.card p {
  padding: 15px 30px;
}
.card a div {
  margin: auto;
}
.card a {
  display: inline;
  width: 100%;
}

.card button {
  margin: auto;
  color: white;
  border: none;
  padding: 12px 15px;
  margin-bottom: 30px;
}

.circle {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #333645;
  margin-top: 30px;
}
.circle svg {
  margin: auto;
  fill: white;
}

.divider {
  width: 25px;
  height: 2px;
  background-color: #333645;
}

.card {
  box-shadow: 0px 0px 30px 12px #f0f0f0;
}
.card h3 {
  font-size: 1.2em;
}
.card p {
  font-size: 0.85em;
}
.card:hover {
  color: white;
}
.card:hover .divider, .card:hover .btn, .card:hover .circle {
  background-color: white;
}

.software-sub {
  background-color: #526781;
}
.software-nav svg {
  fill: #67809f;
}
.software .circle, .software .btn {
  background: #67809f;
}
.software:hover {
  background: #67809f;
}
.software:hover .btn {
  color: #67809f;
}
.software:hover .circle svg {
  fill: #67809f;
}

.it-sub {
  background-color: #286abd;
}
.it-nav svg {
  fill: #4183d7;
}
.it .circle, .it .btn {
  background: #4183d7;
}
.it:hover {
  background: #4183d7;
}
.it:hover .btn {
  color: #4183d7;
}
.it:hover .circle svg {
  fill: #4183d7;
}

.marketing-sub {
  background-color: #25a25a;
}
.marketing-nav svg {
  fill: #2ecc71;
}
.marketing .circle, .marketing .btn {
  background: #2ecc71;
}
.marketing:hover {
  background: #2ecc71;
}
.marketing:hover .btn {
  color: #2ecc71;
}
.marketing:hover .circle svg {
  fill: #2ecc71;
}

.telecoms-sub {
  background-color: #bc2c28;
}
.telecoms-nav svg {
  fill: #d64541;
}
.telecoms .circle, .telecoms .btn {
  background: #d64541;
}
.telecoms:hover {
  background: #d64541;
}
.telecoms:hover .btn {
  color: #d64541;
}
.telecoms:hover .circle svg {
  fill: #d64541;
}

.design-sub {
  background-color: #79539a;
}
.design-nav svg {
  fill: #926fb1;
}
.design .circle, .design .btn {
  background: #926fb1;
}
.design:hover {
  background: #926fb1;
}
.design:hover .btn {
  color: #926fb1;
}
.design:hover .circle svg {
  fill: #926fb1;
}

.security-sub {
  background-color: #de093f;
}
.security-nav svg {
  fill: #f62459;
}
.security .circle, .security .btn {
  background: #f62459;
}
.security:hover {
  background: #f62459;
}
.security:hover .btn {
  color: #f62459;
}
.security:hover .circle svg {
  fill: #f62459;
}

.training-sub {
  background-color: #70217b;
}
.training-nav svg {
  fill: #952ca3;
}
.training .circle, .training .btn {
  background: #952ca3;
}
.training:hover {
  background: #952ca3;
}
.training:hover .btn {
  color: #952ca3;
}
.training:hover .circle svg {
  fill: #952ca3;
}

.culture-btn {
  font-size: 0.9em;
  box-sizing: border-box;
  display: flex;
  padding: 0 0 0 15px;
  margin-top: 15px;
}
.culture-btn div svg {
  fill: #333645;
}
.culture-btn-text {
  margin: auto 0;
}
.culture-btn:hover {
  background-color: #e6e6e6;
}

.arrow-container-md {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 15px 10px;
}

.news-img {
  width: 100%;
}

.news-btn {
  margin: auto auto 30px 30px;
}

.news-btn-it {
  background-color: #4183d7;
}
.news-btn-it:hover {
  background-color: #286abd;
}

.news-btn-training {
  background-color: #952ca3;
}
.news-btn-training:hover {
  background-color: #70217b;
}

.author {
  border-radius: 50%;
  height: 47px;
  width: 47px;
  margin: 0 15px;
}

.nm {
  background-image: url("../img/netmatters-ltd-VXAv.webp");
  background-size: cover;
}

.rob {
  background-image: url("../img/rob-george-zFWY.webp");
  background-size: cover;
}

.news-summary-1 h4 a {
  color: #952ca3;
}
.news-summary-1 h4 a:hover {
  border-bottom: 1px solid #952ca3;
}

.news-summary-3 h4 a, .news-summary-2 h4 a {
  color: #4183d7;
}
.news-summary-3 h4 a:hover, .news-summary-2 h4 a:hover {
  border-bottom: 1px solid #4183d7;
}

.fb div:hover {
  background-color: #4267B2;
}

.twt div:hover {
  background-color: #1DA1F2;
}

.linkedin div:hover {
  background-color: #2867B2;
}

#empty {
  background: transparent;
}

.social img {
  margin: auto auto;
}
.social a:hover {
  border: none;
}

/* Media queries */
@media (max-width: 499px) {
  .hide-sm {
    display: none;
  }
}
@media (min-width: 500px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: inline;
  }
}
@media (min-width: 768px) {
  .hide-med {
    display: none;
  }

  header {
    height: 110px;
  }

  .header-row {
    width: 750px;
  }

  .logo {
    width: 348px;
  }

  .search-inline {
    display: inline;
  }

  .search-container {
    margin: auto 0;
  }

  .card-container {
    width: 768px;
    margin: 0 auto;
    max-width: 100%;
  }
  .card-container .telecoms, .card-container .design, .card-container .security, .card-container .training {
    width: 345px;
  }

  .news-body {
    margin: auto;
    width: 750px;
    flex-direction: row;
  }

  .news-card {
    box-shadow: none;
    margin: 0 15px;
  }

  .news-summary-1 {
    box-shadow: 20px 0px 15px 0px #f0f0f0;
  }

  .news-summary-2 {
    box-shadow: -20px 0px 15px 0px #f0f0f0;
  }

  .background-info {
    width: 738px;
  }

  .news-header-wrapper {
    display: flex;
  }

  .news-header {
    width: 750px;
    margin: 0 auto;
  }

  .main-footer {
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-footer .footer-contact, .main-footer .footer-website, .main-footer .footer-about, .main-footer .footer-social {
    width: 345px;
  }

  .accolades-wrapper {
    display: flex;
  }

  .organisations-wrapper {
    display: flex;
  }
}
@media (min-width: 992px) {
  .hide-lg {
    display: none;
  }

  .header-row {
    width: 970px;
    margin-bottom: 5px;
  }

  .logo {
    width: 100%;
  }

  .card-container {
    width: 970px;
  }
  .card-container .telecoms, .card-container .design, .card-container .security, .card-container .training {
    width: 455px;
  }
  .card-container .software, .card-container .it, .card-container .marketing {
    width: 293.33px;
  }
  .card-container .software p, .card-container .it p, .card-container .marketing p {
    height: 108px;
  }

  .hidden-header-content-lg {
    display: flex;
  }

  .nav-container a {
    width: 155.5px;
  }

  header {
    height: 200px;
  }

  .nav-container {
    display: flex;
  }

  .nav-bar-grid {
    width: 970px;
    margin: 0 auto;
    display: flex;
  }
  .nav-bar-grid li {
    width: 155.5px;
  }

  .sub-nav-content {
    width: 970px;
  }

  .banner-img {
    display: flex;
  }
  .banner-img p {
    text-align: left;
  }
  .banner-img .banner-btn {
    margin: 15px 0 0 15px;
  }

  .banner-text-wrapper {
    width: 970px;
    margin: 0 auto;
  }

  .banner-text {
    display: block;
    width: 455px;
    margin: 0 auto 0 0;
    align-items: start;
  }

  .card-content {
    width: 100%;
  }

  .news-header {
    width: 970px;
  }

  .news-img {
    transition-delay: 0.05s;
    transition-duration: 0.2s;
    object-fit: cover;
  }

  .news-tag:hover .news-img {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .news-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .news-body {
    margin: auto;
    width: 970px;
  }

  .background-info {
    width: 962px;
  }

  .background-wrapper {
    background-image: url(../img/nm-brand.png);
    background-color: #333645;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
  }

  .organisations, .accolades {
    width: 970px;
  }

  .main-footer {
    width: 970px;
  }
  .main-footer .footer-contact, .main-footer .footer-website, .main-footer .footer-about, .main-footer .footer-social {
    width: 485px;
  }
}
@media (min-width: 1260px) {
  .hide-xl {
    display: none;
  }

  .header-row {
    width: 1200px;
  }

  .search-4 {
    display: inline;
  }

  .nav-bar-grid {
    width: 1200px;
  }
  .nav-bar-grid li {
    width: 193.83px;
  }

  .nav-container a {
    width: 193.83px;
  }

  .news-body {
    padding: 50px 0;
    display: flex;
    box-sizing: border-box;
  }

  .sub-nav-content {
    width: 1200px;
    font-size: 1em;
  }

  .card-content {
    width: 100%;
  }

  .card-container {
    margin: 0 auto;
    width: 1200px;
  }
  .card-container .software, .card-container .it, .card-container .marketing {
    width: 368px;
  }
  .card-container .telecoms, .card-container .design, .card-container .security, .card-container .training {
    width: 268px;
  }

  .background-grid, .banner-text-wrapper {
    width: 1200px;
  }

  .background-info, .banner-text {
    width: 600px;
    margin-left: 0;
  }

  .news-header {
    width: 1200px;
  }

  .news-card {
    display: flex;
  }

  .news-body {
    width: 1200px;
  }

  .news-summary-2 {
    box-shadow: 20px 0px 15px 0px #f0f0f0, -20px 0px 15px 0px #f0f0f0;
  }

  .news-summary-3 {
    box-shadow: -20px 0px 15px 0px #f0f0f0;
  }

  .organisations {
    width: 1200px;
  }

  .main-footer {
    width: 1200px;
    margin: 0 auto;
  }
  .main-footer .footer-contact, .main-footer .footer-website, .main-footer .footer-about, .main-footer .footer-social {
    width: 300px;
  }

  .accolades {
    width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
